@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&family=Shrikhand&display=swap');

@mixin mise-en-forme{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-texte:linear-gradient(0deg, #9356DC,#FF79DA);

body{
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bloc_page{
    max-width: 400px;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    a{
        text-decoration: none;
    }
    @media (min-width: 500px) {
        max-width: 900px;
    padding: 0px;
    margin: 0px;
        
    }
    @media (min-width: 900px) {
        max-width: 1500px;
        padding: 0px;
        margin: 0px;
        
    }

}

.loader{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    animation: Load 4s ease-out reverse;
    visibility: hidden;
}

@keyframes Load{
    from {
        opacity:0;
        transform: matrix(100%);
        transition: transform;
    }
    to {
        visibility: inherit;
        opacity: 1;
        transform: matrix(0%);
    }
}

$size: 10px;
$num-bars: 5;
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-bars;

.load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background: linear-gradient(0deg, $color-primary,$color-secondary,$color-tertiary);
        height: 100%;
        width: 10px;
        animation: bars $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
    }
}


@keyframes bars {
    0% {
        transform: scaleY(0.5);
        
    }
    100% {
        transform: scaleY(1.0);
    }
}

header{
    @include mise-en-forme;
    h1 {
        width: 100%;
        font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 5px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 30px;
        font-style: normal;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        @media (min-width: 900px) {
            font-size: 50px;         
        }
    }
}

.bloc_page_menu__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 0px;
    padding-bottom: 0px;
    h1{
        width: 100%;
        display: flex;
        justify-content:center;
        position: relative;
        margin: 0px;
        z-index: 1;
    }
    .header__icone{
        display: flex;
        justify-content: flex-start;
        padding-left: 30px;
        position: absolute;
        width: 85%;
        color: black;
        font-size:x-large;
        z-index: 2;
        a{
            color: black;
        }
    }
}

.localisation{ /*LOCALISATION PAGE ACCEUIL*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    i{
        padding-right: 20px;
    }
}

.description{
    @include mise-en-forme;
    background-color: #F8F8F8;
    padding: 0px 0px 50px 0px;
    h2{
        text-align:center;
        font-size: 25px;
        padding: 40px 70px 0px 70px;
        margin: 0px;
    }
    p{
        color: gray;
        padding-bottom: 15px;
        text-align:center;
        font-size: 18px;
        font-style:normal;
    }
    
}

.bouton{ /*BOUTONS DU SITE*/
    border-radius: 20px 20px 20px 20px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 15px 25px 15px 25px;
    box-shadow: 2px 2px 3px gray;
    cursor: pointer;
    background: linear-gradient(0deg, $color-primary,$color-secondary);
    transform: scale(1);
    transition: transform 250ms, box-shadow 200ms;
    transition-delay: 100ms, 200ms;
    position: relative;
    &:hover {
        transform: scale(1.05);
        box-shadow: 2px 2px 6px gray;
        background-image: linear-gradient(0deg, #B268FF,#FF99FF)
    }
}

.Fonctionnement{
    @include mise-en-forme;
    padding: 20px;
    list-style-type: none;
    h2{
        width: 100%;
        text-align: start;
    }
    ul{
        margin: 0px;
        padding: 0px;
        width: 100%;
        @media (min-width: 900px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: baseline;
            width: 100%;
        }
        :hover{
            background-color: #F3E7FF;
        }
    }
    li{
        display: flex;
        align-items: baseline;
        background-color: #F8F8F8;
        margin-bottom: 20px;
        padding: 25px;
        border-radius: 17px;
        box-shadow: 3px 3px 5px #E9E9E9;
        font-weight: 600;
        color: black;
        cursor: pointer;
        @media (min-width: 900px) {
            margin: 20px;
            width: 25%;
        }
    }
    i{
        margin-right: 20px;
        padding: 0;
        color: grey;
    }
    .numero{
        margin-left: -35px;
        margin-right: 25px;
        background-color: $color-primary;
        color: white;
        border-radius: 50px;
        padding: 2px 7px 2px 7px;
        
    }

}

.Restaurants{ /*LISTES DES RESTAURANTS DISPONIBLES*/
    @include mise-en-forme;
    background-color: #F8F8F8;
    margin: 0px;
    padding: 20px;
    h2{
        width: 100%;
        text-align: start;
    }
    a{
        color: black;
    }
    
    .restaurant{ /*VIGNETTES RESTAURANTS*/
        display: block;
        background-color: white;
        width: 100%;
        border-radius: 12px 12px 12px 12px;
        margin-bottom: 20px;
        padding: 0px;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            transform: scale(1.02);
        } 
        @media (min-width: 900px) {
            margin: 15px 15px 60px 15px;
        }
    }
}

figure{
    display: block;
    justify-content: center;
    width: 100%;
    margin: 0px;
    border-radius: 12px 12px 12px 12px;
    .nouveau{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        z-index: 2;
        position: absolute;
        p{
            background-color: $color-tertiary;
            color: darken($color: #99E2D0, $amount: 35);
            border-radius: 2px;
            font-size: 14px;
            font-weight: 500;
            margin-top: 10px;
            margin-right: 10px;
            padding: 4px 10px 4px 10px;
        }
    }
   
    .restaurant__banniere{
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        height: 20%;
        padding: 0px;
        border-radius: 0px 0px 12px 12px;
    }
    .restaurant__image img{
        height: 170px;
        border-radius: 12px 12px 0 0;
        object-fit: cover;
        width: 100%;
        z-index: 1;
        position: relative;
    }
    h3{
        margin:0px;
        padding: 10px 10px 0px 10px;
        font-size: 20px;
    }
    p{
        margin:0px;
        padding: 5px 10px 10px 10px;
        font-size: 16px;
        font-weight: 200;
    }
    
}

.bloc-restaurants{ /*MENUS PROPOSE POUR CHAQUE RESTAURANTS*/
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: 900px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        width: 100%;
    }
}

.icone__banniere{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    position: relative;
    color: black;
    z-index: 1;
    opacity: 1;
    transition: 600ms;
        &:hover{
            color: transparent;
            & .icone__banniere__fav{
                opacity: 1;
            }       
    }
    &__fav {
        position: absolute;
        background: linear-gradient(350deg, $color-primary 0%, $color-secondary 100%);
        opacity: 0;
        z-index: -1;
    }

}

.image-banniere img{ /*IMAGE PRINCIPAL POUR CHAQUE RESTAURANTS*/
    height: 300px;
    object-fit: cover;
    width: 100%;
    margin: 0px;
    z-index: 1;
    position: relative;
}

.bloc-plats{
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: 900px) {
        display: flex;
        flex-direction: row;
    }
}

.menu{ /*ENTREES PLATS DESSERTS*/
    padding: 10px;
    background-color: #F8F8F8;
    border-radius: 20px 20px 0px 0px;
    margin-top: -65px;
    z-index: 2;
    position: relative;
    .menu__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 0px;
        padding-left: 10px;
        padding-right: 30px;
        font-size: 18px;
    }
    h2{
        font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    }
    i{
        font-size: 25px;
        cursor: pointer;
    }
    .Plats{
        width: 100%;
        margin-bottom: 40px;
        margin-top: 0px;
        @media (min-width: 900px) {
            margin: 15px;
            width:33%;
        }
    }
    h3{
        padding-left: 5px;
        margin: 0px 0px 10px 0px;
        font-weight: 300;
        font-size: 16px;
        text-transform: uppercase;
    }
    .barre{
        border-bottom: solid $color-tertiary 3px;
        width: 40px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .bouton{
        padding-left: 45px;
        padding-right: 45px;
        font-size: 16px;
    }
}

.Plats__choix{ /*LES DIFFERENTS CHOIX*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 12px;
    background-color: white;
    box-shadow: 2px 2px 6px gray;
    overflow: hidden;
    cursor: pointer;
    &:hover > .logo-valide {
        transform: translate(0);
        display: flex;
        & i{
            transform: rotate(0deg);
        }
    }
    @media (min-width: 900px) {
        margin-bottom: 30px;
    }
    .texte{
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
        padding-left: 10px;
        border-radius: 12px 0px 0px 12px;
        max-width: 80%;
        min-width: 60%;
        h4{
            display: flex;
            margin-top: 15px;
            margin-bottom: 4px;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p{
            display: flex;
            margin-top: 0px;
            margin-bottom: 15px;
            font-size: 15px;
            font-weight: 300;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .prix{
        display: flex;
        justify-content:center;
        align-items:flex-end;
        max-width: 40%;
        min-width: 20%;
        p{
            font-size: 15px;
            font-weight: 700;
        }
    }
    .logo-valide{
        display: none;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: auto;
        background-color: $color-tertiary;
        color: white;
        border-radius: 0px 12px 12px 0px;
        transform: translate(100%);
        transition: transform 600ms ease-in-out, display 600ms ease-in-out;
    
        i{
            display: flex;
            justify-content: center;
            align-items: center;
            transform: rotate(180deg);
            transition: transform 600ms;
        }
    }
}

    @keyframes apparition {
        from {
            opacity:0;
            transform: translateY(100%);
            transition: transform;
        }
        to {
            opacity: 1;
            transform: translate(0%);
        }
    }

.choix__1{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 100ms;
}
.choix__2{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 300ms;
}
.choix__3{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 600ms;
}
.choix__4{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 900ms;
}
.choix__5{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 1200ms;
}
.choix__6{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 1500ms;
}
.choix__7{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 1800ms;
}
.choix__8{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 2100ms;
}
.choix__9{
    animation: apparition 0.8s ease-in-out;
    transform-origin: bottom;
    animation-delay: 2400ms;
}

footer{

    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #353636;
    color: white;
    padding: 20px;
    h2{
        font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
        font-size: 18px;
        @media (min-width: 700px) {
            display: flex;
            justify-content:center;
            width: 100%;
            font-size: 20px;
        }
    }
    a{
        color: white;
    }

    .block-lien{
        display: block;
        flex-direction: column;
        @media (min-width: 700px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .lien-footer{
        display: flex;
        flex-direction: row;
        p{
            align-items: baseline;
            padding-top: 0px;
            margin: 0px;
            margin-bottom: 7px;
            white-space: nowrap;
            width: 85%;
            @media (min-width: 700px) {
                padding-right: 40px;
            }
        }
            .icone{
                width: 15%;
                padding: 0px;
                @media (min-width: 700px) {
                    padding-right: 10px;
                }
            }
            i{
                padding: 0px;
            }
    }
}