footer{
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #353636;
    color: white;
    padding: 20px;
    h2{
        font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
        font-size: 18px;
        @media (min-width: 700px) {
            display: flex;
            justify-content:center;
            width: 100%;
            font-size: 20px;
        }
    }
    a{
        color: white;
    }

    .block-lien{
        display: block;
        flex-direction: column;
        @media (min-width: 700px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .lien-footer{
        display: flex;
        flex-direction: row;
        p{
            align-items: baseline;
            padding-top: 0px;
            margin: 0px;
            margin-bottom: 7px;
            white-space: nowrap;
            width: 85%;
            @media (min-width: 700px) {
                padding-right: 40px;
            }
        }
        .icone{
            width: 15%;
            padding: 0px;
            @media (min-width: 700px) {
                padding-right: 10px;
            }
        }
        i{
            padding: 0px;
        }
    }
}